@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-primary: #d16666;
  --font-secondary: #cacbce;
  --light-background: #f9cbb0;
  --light-theme-background: #f9b38b;
  --darker-background: #263238;
  --darker-theme-background: #37474f;
  --input-light: #fffefd8b;
  --button-light: #fab089;
  --input-darker: #37474f;
  --button-darker: #546e7a;
  --ongoing-tasks-light: #fffefd8b;
  --completed-tasks-light:  #ebe4de8b;
  --ongoing-tasks-darker: #455a64;
  --completed-tasks-darker: #607d8b;
  --hover-light-input: #edd4cc;
  --hover-light-button: #ffc4a3;
  --hover-darker-input: #546e7a;
  --hover-darker-button: #78909c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Work Sans", sans-serif;
  padding-top: 3%;
}

#header,
#form {
  margin: 0 1rem;
  min-height: 10vh;
  width: 100%;
}

#header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2rem;
  min-height: 25vh;
}

.flexrow-container {
  align-items: center;
  align-self: flex-end;
  display: flex;
  justify-content: space-around;
  margin-right: 3%;
}
h1,
h2,
p {
  color: var(--font-light-color);
}
.theme-selector {
  border-radius: 100%;
  height: 35px;
  margin: 0 8px;
  width: 35px;
}

.theme-selector:hover {
  box-shadow: white 0 0 8px;
  cursor: pointer;
}

#title {
  overflow: hidden;
  margin-top: 50px;
  max-width: auto;
  text-align: center;
  padding: 0 20px;
}

form {
  display: flex;
  font-size: 1.7rem;
  justify-content: center;
  margin: 0auto;
  padding: 0.8rem;
  width: 100%;
}

form input {
  padding: 10px;
  font-size: 17px;
  border: none;
  outline: none;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  max-width: 500px;
  transition: background-color 200ms ease-in-out;
  width: 100%;
}
form input:hover {
  cursor: text;
}
button {
  border: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}
form button {
  padding: 10px;
  font-size: 17px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  min-width: 100px;
}

.task-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-content: center;
  width: 80%;
  padding: 20px;
  gap: 40px;
}

.ongoing-tasks h2,
.completed-tasks h2 {
  text-align: center;
}

.ongoing-tasks,
.completed-tasks {
  background-color: var(--ongoing-tasks-light);
  border-radius: 5px;
  min-width: 300px;
  max-width: 600px;
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.todo li {
  margin: 1rem;
  font-size: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em 0.5em;
  border-radius: 30px;
}

.task .task-name {
  padding: 15px;
  font-size: 20px;
  flex: 1;
}

.done-button,
.delete-button {
  font-size: 19px;
  cursor: pointer;
  width: 2em;
  height: 2em;
  border-radius: 80%;
  margin: 0 5px;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  transition: 0.2s;
  text-decoration: line-through;
  opacity: 0.5;
}

body,
.light {
  background-color: var(--light-background);
  color: var(--font-primary);
}

.light-theme {
  background-color: var(--light-theme-background);
}
.light .completed-tasks {
    background-color: var(--completed-tasks-light);
  }
  

input.light-input {
  background-color: var(--input-light);
  color: var(--font-primary);
}
button.light-button {
  background-color: var(--button-light);
}

input.light-input:hover,
button.light-button:hover {
  background-color: var(--hover-light-input);
  color: var(--font-primary);
}

.ongoing-tasks,
.completed-tasks {
  background-color: var(--ongoing-tasks-light);
  min-height: 200px;
}

.darker {
  background-color: var(--darker-background);
  color: var(--font-secondary);
}

.darker-theme {
  background-color: var(--darker-theme-background);
}

input.darker-input,
button.darker-button {
  background-color: var(--input-darker);
  color: var(--font-secondary);
}

input.darker-input:hover,
button.darker-button:hover {
  background-color: var(--hover-darker-input);
  color: var(--font-secondary);
}

.darker .ongoing-tasks {
  background-color: var(--ongoing-tasks-darker);
}

.darker .completed-tasks {
  background-color: var(--completed-tasks-darker);
}
